.p-home article {
    margin-left: 1rem;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    
    li {
        padding: 0.875rem;
        margin-top: 0.875rem;
        margin-right: 0.875rem;
        background: rgba(240, 233, 180, 0.25);
        flex: 1 0 100%;
        @media (min-width: $break-one) {
            flex: 1 0 calc(50% - 0.875rem);
        }
    }

    img {
        width: 30%;
        float: left;
        margin-right: 0.875rem;

        @media (min-width: $break-one) {
            width: 50%;
        }
    }

    a {
        color: $reddish;
    }
}